.body {
    background-color: #fff;
    line-height: 1.5;
    margin: 0;
}
* { 
    padding: 0;
    margin: 0;
}
.menu1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    padding: 15px 0px;
    border:10px groove  rgba(117, 26, 26, 0.761);  ;  
}
.menu1 a {
    background-color: rgb(214, 214, 214);
    border: 2px dashed  rgba(117, 26, 26, 0.761);;
    border-radius: 5px;
    padding: 5px 60px 5px 10px;
    text-decoration: none;
    color:black;
    font-size: 20px;
}
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    border: 2px solid rgba(117, 26, 26, 0.761);
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 16px; 
}

.header__logo {
    background-size:cover ;
    padding-left: 30px;
    padding-top: 10px;
}

.header__phone {
    padding-right: 40px;
}
.header .inner-header .nav {
    display: flex;
    list-style: none;
    margin-left: 170px;
}

.header .nav .nav , a {
    text-decoration: none;
}

.header a {
    font-size: 20px;
    font-size: revert;
    opacity: 5s;
    border: 3px solid transparent;
    padding: 5px 25px 5px 15px;
    color: #000000;
    transition: all .3s;
    border-radius: 20px;
}
.menu{
    height: 150px;
    background-color: #e9967a;
}
.container {
    border: 2px solid rgba(117, 26, 26, 0.761);
    display: flex;
    width: auto;
    margin: 0 auto;
    height: 300px;
    background-color:  rgba(117, 26, 26, 0.761);;
    /*flex-flow: row wrap;
    align-items: stretch;
    align-content: stretch;*/
}
.sidebar1 {
   width: 150px;
   float: left;
    background: brown;
   
}

.inner-sidebar1{
    background-color:rgb(248, 186, 104);
    display: flex;
    flex-flow: row wrap;
} 
.b0{
    margin:5px;
    margin-bottom: 5px;   
    height: 50px;
    width: 100px;
    background-color:rgb(245, 245, 220);
}
.bl{
    margin: 5px ;
    margin-bottom: 5px;  
    height: 100px;
    width: 100px;
    background-color:rgb(245, 245, 220);
}
.bl2{
    position:center; 
    margin: 15px;   
    height: 100px;
    width: 100px;
    background-color:rgb(245, 245, 220);
}


.sidebar2{
    width: 150px;
    float: right;
    background: brown;
}

.inner-sidebar2{
    background-color:rgb(248, 186, 104);
    display: flex;
    flex-flow: row wrap; 
}
.bl3{
    margin: 5px 5px 5px auto;   
    height: 100px;
    width: 100px;
    background-color:rgb(245, 245, 220);
}
.bl4{
    margin: 5px 5px 5px auto; 
    height: 100px;
    width: 100px;
    background-color:rgb(245, 245, 220);
}
.content{
    border: 1px solid rgba(117, 26, 26, 0.761);
    background: rgba(117, 26, 26, 0.761);
    margin: 0px auto;
    height: 100%;
    width: 80%;
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
  
}

.b{ 
    margin:2px;
    height:150px;
    width: 150px;
    background-color:rgb(245, 245, 220);
}
.footer{
    height: 100%;
    background: brown;
    border: 2px solid rgba(117, 26, 26, 0.761);
    bottom: 0;
    min-height: 100px;
}
